/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Hahmlet:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Noto+Sans+KR&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Noto+Sans+KR&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Noto Sans KR", "Hahmlet", serif;
  scroll-behavior: smooth;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@-webkit-keyframes startopacity {
  0% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes startopacity {
  0% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes contactopacity {
  0% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.6;
  }
}

@keyframes contactopacity {
  0% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.6;
  }
}

@-webkit-keyframes moveBottom {
  0% {
    -webkit-transform: translate(-50%, -2rem);
            transform: translate(-50%, -2rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    opacity: 1;
  }
}

@keyframes moveBottom {
  0% {
    -webkit-transform: translate(-50%, -2rem);
            transform: translate(-50%, -2rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    opacity: 1;
  }
}

@-webkit-keyframes dropTop {
  0% {
    -webkit-transform: translateY(-150vh);
            transform: translateY(-150vh);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes dropTop {
  0% {
    -webkit-transform: translateY(-150vh);
            transform: translateY(-150vh);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes movetoright {
  0% {
    -webkit-transform: translateX(-30vw);
            transform: translateX(-30vw);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes movetoright {
  0% {
    -webkit-transform: translateX(-30vw);
            transform: translateX(-30vw);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes aboutmeani {
  0% {
    -webkit-transform: translateX(20vw);
            transform: translateX(20vw);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0vw);
            transform: translateX(0vw);
    opacity: 1;
  }
}

@keyframes aboutmeani {
  0% {
    -webkit-transform: translateX(20vw);
            transform: translateX(20vw);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0vw);
            transform: translateX(0vw);
    opacity: 1;
  }
}

@-webkit-keyframes movetotop {
  0% {
    -webkit-transform: translateY(100vh);
            transform: translateY(100vh);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes movetotop {
  0% {
    -webkit-transform: translateY(100vh);
            transform: translateY(100vh);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes scaleani {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.2, 0.2);
            transform: scale(0.2, 0.2);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@keyframes scaleani {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.2, 0.2);
            transform: scale(0.2, 0.2);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

header {
  width: 100%;
  position: fixed;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

header .headerani {
  -webkit-animation-name: startopacity;
          animation-name: startopacity;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

header h1 {
  margin-left: 3rem;
  font-size: 1.5rem;
  color: white;
  text-shadow: 2px 2px 3px black;
}

header nav {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10rem 0 10rem;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav ul li {
  margin: 0 3rem 0 3rem;
}

header nav ul li a {
  color: #222;
  text-decoration: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-family: "Hahmlet";
}

header nav ul li .scrollmenucolor {
  background: linear-gradient(30deg, #c5c076, #44bd1f);
  color: transparent;
  -webkit-background-clip: text;
}

@-webkit-keyframes FadeIn {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes FadeOut {
  0% {
    opacity: 1;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes FadeOut {
  0% {
    opacity: 1;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

main {
  overflow: hidden;
  position: absolute;
  top: 50px;
  width: 100%;
}

main h1 {
  font-family: "Hahmlet";
  color: #555;
}

main .backgroundabout {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 100vh;
  left: 0;
  background-image: url("../image/pexels-mockupeditorcom-205316.jpg");
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: no-repeat;
  z-index: -20;
}

main .backgroundcontact {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 300vh;
  left: 0;
  background-image: url("../image/backcontact.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: -20;
  opacity: 0.6;
}

main .backgroundproject {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 200vh;
  left: 0;
  background-color: #f1f1f1;
}

main video {
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
}

main .opacityani {
  -webkit-animation-name: startopacity;
          animation-name: startopacity;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

main .contactopacityani {
  -webkit-animation-name: contactopacity;
          animation-name: contactopacity;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

main section {
  width: 80%;
  height: 100vh;
  margin: auto;
}

main #intro {
  position: relative;
}

main #intro h1 {
  font-size: 3rem;
  position: absolute;
  top: 30%;
  left: -3%;
  text-align: left;
  font-family: "Noto Sans KR";
  color: #e6e6e6;
}

main #intro i {
  color: white;
  font-size: 3.5rem;
  position: absolute;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-animation-name: moveBottom;
          animation-name: moveBottom;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

main .introani {
  -webkit-animation-name: dropTop;
          animation-name: dropTop;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

main #about .about-title {
  margin-top: 10vh;
  text-align: left;
}

main #about .moveabout {
  -webkit-animation-name: movetoright;
          animation-name: movetoright;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

main #about .moveaboutme {
  -webkit-animation-name: aboutmeani;
          animation-name: aboutmeani;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

main #about .about {
  padding-top: 10vh;
  padding-bottom: 10vh;
}

main #about .about h1 {
  font-family: "Noto Sans KR";
  background: linear-gradient(30deg, #bbb454, #4bc925);
  color: transparent;
  -webkit-background-clip: text;
  font-size: 2rem;
  text-align: left;
}

main #about .about p {
  margin-top: 1vh;
  line-height: 1.5rem;
  color: #666;
}

main #about .aboutme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10vh;
}

main #about .aboutme h1 {
  font-family: "Noto Sans KR";
  font-size: 2rem;
  text-align: left;
  padding-bottom: 1rem;
  background: linear-gradient(30deg, #bbb454, #4bc925);
  color: transparent;
  -webkit-background-clip: text;
}

main #about .aboutme li {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1rem;
}

main #about .aboutme li span {
  color: #666;
}

main #about .aboutme li i {
  margin-right: 1rem;
  color: #666;
}

main #about .aboutme .profile {
  margin-right: 25%;
}

main #project {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

main #project .project-title {
  text-align: left;
  position: absolute;
  top: 0;
}

main #project .projectanime {
  -webkit-animation-name: movetotop;
          animation-name: movetotop;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

main #project .slide-pj-article {
  margin: auto;
  position: relative;
}

main #project .slide-pj-article .openModalAni {
  -webkit-animation: FadeIn 0.4s linear;
          animation: FadeIn 0.4s linear;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  pointer-events: auto;
}

main #project .slide-pj-article .closeModalAni {
  pointer-events: none;
  -webkit-animation: FadeOut 0.4s linear;
          animation: FadeOut 0.4s linear;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

main #project .slide-pj-article .modal-position {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.3);
  opacity: 0;
  z-index: -1;
}

main #project .slide-pj-article .modal-position .slide-modal {
  width: 60%;
  height: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 30px;
  background-color: rgba(41, 41, 41, 0.8);
  -webkit-box-shadow: 5px 10px 20px black;
          box-shadow: 5px 10px 20px black;
  color: white;
  text-align: left;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #project .slide-pj-article .modal-position .slide-modal img {
  width: 50%;
}

main #project .slide-pj-article .modal-position .slide-modal .modal-detail {
  width: 40%;
  padding: 1rem;
}

main #project .slide-pj-article .modal-position .slide-modal .modal-detail h1 {
  font-family: "Noto Sans KR";
  color: #e6e6e6;
  font-size: 2rem;
  margin-bottom: 3rem;
  text-shadow: 3px 3px 10px black;
}

main #project .slide-pj-article .modal-position .slide-modal .modal-detail p {
  color: #d7d7d7;
  word-break: break-all;
  line-height: 2rem;
  margin-bottom: 2rem;
}

main #project .slide-pj-article .modal-position .slide-modal .modal-detail a {
  display: inline-block;
  width: 49%;
  height: 40px;
  padding: 5px;
  font-weight: bolder;
  text-align: center;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 5px #111;
          box-shadow: 1px 1px 5px #111;
  background: linear-gradient(30deg, #dad488, #82df66);
  color: transparent;
  -webkit-background-clip: text;
  cursor: pointer;
}

main #project .slide-pj-article .modal-position .slide-modal .modal-detail a span {
  line-height: 30px;
}

main #project .slide-pj-article .modal-position .modal-close {
  position: absolute;
  top: 5%;
  right: 5%;
}

main #project .slide-pj-article .modal-position .modal-close i {
  color: white;
  text-shadow: 0px 0px 5px black;
  cursor: pointer;
}

main #project .slide-pj-article .slide-pj-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 900px;
}

main #project .slide-pj-article .slide-pj {
  position: relative;
  opacity: 0.2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-align: center;
}

main #project .slide-pj-article .slide-pj img {
  margin: 125px;
  width: 650px;
}

main #project .slide-pj-article .slide-pj h1 {
  font-weight: bolder;
  background: linear-gradient(30deg, #879448e7, #47b127);
  text-shadow: 0px 0px 4px #c8c8c8;
  color: transparent;
  -webkit-background-clip: text;
  font-family: "Noto Sans KR";
  font-size: 1.5rem;
  position: absolute;
  top: 0%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

main #project .slide-pj-article .slide-pj h1 p {
  display: block;
  margin-top: 5px;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(134, 134, 133, 0.74)), to(rgba(236, 238, 236, 0.247)));
  background: linear-gradient(to right, rgba(134, 134, 133, 0.74), rgba(236, 238, 236, 0.247));
}

main #project .slide-pj-article .slidebtn div {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  color: #888;
  opacity: 0.8;
}

main #project .slide-pj-article .slidebtn div:nth-child(1) {
  left: -5%;
}

main #project .slide-pj-article .slidebtn div:nth-child(2) {
  right: -5%;
}

main #project .slide-pj-article .slidebtn div i {
  text-align: center;
  line-height: 150px;
}

main #project .slide-pj-article .onslide {
  opacity: 1;
  cursor: pointer;
}

main #project .slide-pj-article .dot-circle {
  position: absolute;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

main #project .slide-pj-article .dot-circle button {
  display: inline-block;
  cursor: pointer;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  border: none;
  outline: none;
  background-color: white;
  -webkit-box-shadow: 0px 3px 10px #222;
          box-shadow: 0px 3px 10px #222;
  margin: 0.2rem;
}

main #project .slide-pj-article .dot-circle .ondot {
  background: -webkit-gradient(linear, left top, left bottom, from(#e4e4e4), to(rgba(145, 201, 145, 0.829)));
  background: linear-gradient(#e4e4e4, rgba(145, 201, 145, 0.829));
}

main #contact {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

main #contact .contactani {
  -webkit-animation-name: scaleani;
          animation-name: scaleani;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

main #contact h1 {
  position: absolute;
  top: 0%;
  left: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

main #contact .contactme {
  position: absolute;
  top: 20%;
  left: 35%;
  text-align: center;
}

main #contact .contactme .social {
  width: 23rem;
  text-align: center;
  margin: auto;
  margin-top: 10vh;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 20px 40px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

main #contact .contactme .social a {
  display: inline-block;
  text-decoration: none;
  color: #222;
  padding: 5px;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  position: relative;
  overflow: hidden;
}

main #contact .contactme .social i {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

main #contact .contactme .social a:before {
  content: "";
  width: 100%;
  height: 0%;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: -webkit-gradient(linear, left bottom, left top, from(#afe261), to(#e0e0e0));
  background: linear-gradient(to top, #afe261, #e0e0e0);
}

main #contact .contactme .social a:hover::before {
  height: 100%;
}

main #contact .contactme .social a:hover i {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
  color: #eee;
}
/*# sourceMappingURL=style.css.map */